---
import type { HTMLAttributes } from "astro/types";
import CertificationElement from "./CertificationElement.astro";
import { getTranslations } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 id="certifications" class="pb-1">{t.certifications.header}</h2>
  <CertificationElement
    class="py-1"
    period="2025"
    description={t.certifications.master.description}
    link="https://www.elka.pw.edu.pl/"
    organization={t.certifications.master.organization}
  />
  <CertificationElement
    class="py-1"
    period="2024"
    description={t.certifications.engineer.description}
    link="https://www.elka.pw.edu.pl/"
    organization={t.certifications.engineer.organization}
  />
  <CertificationElement
    class="py-1"
    period="2021"
    description={t.certifications.english.description}
    link="https://www.sermo.org.pl/"
    organization={t.certifications.english.organization}
  />
  <CertificationElement
    class="py-1"
    period="2016"
    description={t.certifications.jsystems.description}
    link="https://jsystems.pl/"
  />
</div>
