---
import { getTranslations } from "@src/i18n/ui";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  university: string;
  faculty?: string;
  period: string;
  city?: string;
  link: string;
  subject: string;
  degree: string;
  specialization: string;
  description?: string;
  average?: number;
  subjects?: Array<string>;
}

const {
  university,
  faculty,
  period,
  city,
  link,
  subject,
  degree,
  specialization,
  description,
  average,
  subjects,
  ...props
} = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div class="py-1 flex flex-col gap-3 break-inside-avoid" {...props}>
  <div class="flex">
    <span class="flex-1" style="font-weight: 600; font-size: var(--text-xl);">
      <a href={link} target="_blank">{university}</a>
    </span>
    <span class="m-auto">{period}</span>
  </div>
  <div class="flex gap-2 text-lg">
    <b>
      {subject} | {degree} | {specialization}
    </b>
  </div>
  {description ? <div>{description}</div> : null}
  <ul class="flex flex-wrap gap-1">
    {subjects?.map((subject) => <li class="subject">{subject}</li>)}
  </ul>
</div>

<style>
  .subject {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-top: calc(var(--spacing) * 0.25);
    padding-bottom: calc(var(--spacing) * 0.25);
    padding-left: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 1.5);
    border: 1px solid rgb(from var(--primary-regular) r g b / 25%);
    border-radius: var(--radius-lg);
    transition:
      transform 1s ease,
      box-shadow 1s ease;
  }
  .subject:hover,
  .subject:focus-within {
    transform: scale(1.01);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: var(--neon-primary);
  }
</style>
