---
import type { HTMLAttributes } from "astro/types";
import EducationElement from "./EducationElement.astro";
import { getTranslations } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 id="education" class="pb-1">{t.education.header}</h2>
  <EducationElement
    class="py-1"
    university={t.education.master.university}
    faculty={t.education.master.faculty}
    period={t.education.master.period}
    link="https://www.elka.pw.edu.pl/Wydzial"
    subject={t.education.master.subject}
    degree={t.education.master.degree}
    specialization={t.education.master.specialization}
    description={t.education.master.description}
    average={4.92}
    subjects={t.education.master.subjects}
  />
  <EducationElement
    class="py-1"
    university={t.education.engineer.university}
    faculty={t.education.engineer.faculty}
    period={t.education.engineer.period}
    link="https://www.elka.pw.edu.pl/Wydzial"
    subject={t.education.engineer.subject}
    degree={t.education.engineer.degree}
    specialization={t.education.engineer.specialization}
    description={t.education.engineer.description}
    average={4.96}
    subjects={t.education.engineer.subjects}
  />
  <!-- <EducationElement
    class="py-1"
    university={t.education.highschool.university}
    period={t.education.highschool.period}
    link="https://loprus.pl/"
    specialization={t.education.highschool.specialization}
  /> -->
</div>
