---
import { getTranslations } from "@src/i18n/ui";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  university: string;
  period: string;
  city?: string;
  link: string;
  subject?: string;
  degree?: string;
  specialization?: string;
  description?: string;
  average?: number;
  subjects?: Array<string>;
}

const {
  university,
  period,
  city,
  link,
  subject,
  degree,
  specialization,
  description,
  average,
  subjects,
  ...props
} = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <div class="flex">
    <h3 class="flex-1"><a href={link} target="_blank">{university}</a></h3>
    <span>{period}</span>
  </div>
  {
    subject ? (
      <span>
        <b>{subject}</b>
      </span>
    ) : null
  }
  {
    degree ? (
      <span>
        {subject ? "|" : null}
        {degree}
      </span>
    ) : null
  }
  {
    specialization ? (
      <span>
        {degree ? "|" : null}
        {t.education.specialization} - {specialization}
      </span>
    ) : null
  }
  {description ? <div>{description}</div> : null}
  <!-- {
    average ? (
      <div>
        {t.education.average}: {average}
      </div>
    ) : null
  } -->
  <ul class="flex flex-wrap gap-1">
    {subjects?.map((subject) => <li class="subject">{subject}</li>)}
  </ul>
</div>

<style>
  .subject {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-top: calc(var(--spacing) * 0.25);
    padding-bottom: calc(var(--spacing) * 0.25);
    padding-left: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 1.5);
    border: 1px solid rgb(from var(--primary-regular) r g b / 25%);
    border-radius: var(--radius-lg);
    transition:
      transform 1s ease,
      box-shadow 1s ease;
  }
  .subject:hover,
  .subject:focus-within {
    transform: scale(1.01);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: var(--neon-primary);
  }
</style>
