---
import { getTranslations } from "@src/i18n/ui";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  university: string;
  period: string;
  city?: string;
  link: string;
  subject?: string;
  degree?: string;
  specialization?: string;
  description?: string;
  average?: number;
  subjects?: Array<string>;
}

const {
  university,
  period,
  city,
  link,
  subject,
  degree,
  specialization,
  description,
  average,
  subjects,
  ...props
} = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <div class="flex">
    <h3 class="flex-1"><a href={link} target="_blank">{university}</a></h3>
    <span>{period}</span>
  </div>
  {subject ? <div>{subject}</div> : null}
  {degree ? <div>{degree}</div> : null}
  {
    specialization ? (
      <div>
        {t.education.specialization}: {specialization}
      </div>
    ) : null
  }
  {description ? <div>{description}</div> : null}
  {
    average ? (
      <div>
        {t.education.average}: {average}
      </div>
    ) : null
  }
  <ul class="flex flex-wrap gap-1">
    {subjects?.map((subject) => <li class="subject">{subject}</li>)}
  </ul>
</div>

<style>
  .subject {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-left: calc(var(--spacing) * 1);
    padding-right: calc(var(--spacing) * 1);
    border: 1px solid var(--primary-light);
    border-radius: var(--radius-lg);
  }
</style>
