---
import type { LanguageKey } from "@src/i18n/ui";
import type { RenderedContent } from "astro:content";
import type { InferEntrySchema } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import TagElement from "./TagElement.astro";
import { tags } from "@components/content/Tags";

interface Props {
  project: {
    id: string;
    body?: string;
    collection: "projects";
    data: InferEntrySchema<"projects">;
    rendered?: RenderedContent;
    filePath?: string;
  };
}

const { project } = Astro.props;
const lang = Astro.currentLocale as LanguageKey;
---

<li
  class={`pt-1 projects-li ${project.data.print ? null : "no-print"}`}
  style={`
    --col-span: ${project.data.columns ?? 1};
    --row-span: ${project.data.rows ?? 1};
  `}
  data-project-id={project.id}
>
  <div class="project-wrapper">
    <div class="flex flex-row items-center">
      <input
        id={`${project.id}-${Math.round(Math.random() * 10e12).toString(36)}`}
        type="checkbox"
        class="project-check styled-checkbox"
        data-project-id={project.id}
        aria-label={`Toggle project ${project.id}`}
      />

      <a
        href={getRelativeLocaleUrl(lang, "/projects/" + project.id)}
        class="full-link"
      >
        <span class="text-lg">
          <b>{project.data.title ?? project.id}</b>
        </span>
      </a>
    </div>
    <div>{project.data.description}</div>
    <ul class="project-tags">
      {project.data.tags?.map((tag) => <TagElement tag={tags[tag]} />)}
    </ul>
  </div>
</li>

<style>
  .projects-li {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing));
    border: 1px solid var(--gray-900);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 3);
    background-color: var(--background);
    transition:
      transform 1s ease,
      box-shadow 1s ease;
    break-inside: avoid;
    grid-column: span 1;
    grid-row: span 1;
  }

  @media (min-width: 768px) {
    .projects-li {
      grid-column: span var(--col-span);
      grid-row: span var(--row-span);
    }
  }
  @media print {
    .projects-li {
      grid-column: span var(--col-span);
      grid-row: span var(--row-span);
    }
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing));
    position: relative;
    width: 100%;
    height: 100%;
  }

  .projects-li:hover,
  .projects-li:focus-within {
    transform: scale(1.01);
    z-index: 10;
    box-shadow: var(--shadow-md);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: pointer;
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 1.5);
  }

  /* TODO: consider using this class along with a button to reveal all tags */
  /* .project-tags li:nth-of-type(1n + 6) {
    display: none;
  } */
  .project-check {
    display: none;
  }

  .project-check.show-in-edit {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .projects-li.hidden {
    display: none !important;
  }

  body.edit-mode .projects-li.hidden {
    display: block !important;
  }

  .styled-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--gray-600);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
  }
  .styled-checkbox:checked {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
  }
  .styled-checkbox:checked::before {
    content: "✓";
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
</style>
