---
import type { HTMLAttributes } from "astro/types";
import { tags } from "@components/content/Tags";
import TagElement from "@components/content/TagElement.astro";
import { getTranslations, type LanguageKey } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}
const { ...props } = Astro.props;

const lang = Astro.currentLocale as LanguageKey;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 id="skills" class="pb-1">{t.skills.header}</h2>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.languages}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "language")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.frameworks}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "framework")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.technologies}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "technology")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.tools}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "tool")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap no-print">
    <div class="skill-header">
      {t.skills.operating_systems}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "operating_system")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap no-print">
    <div class="skill-header">
      {t.skills.clouds}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "cloud")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap no-print">
    <div class="skill-header">
      {t.skills.libraries}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "library")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.databases}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "database")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap no-print">
    <div class="skill-header">
      {t.skills.other}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "other")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
  <div class="skill-gap">
    <div class="skill-header">
      {t.skills.linguistics}
    </div>
    <ul class="skill-tag-wrapper">
      {
        Object.entries(tags)
          .filter(([, tag]) => tag.type === "linguistics")
          .map(([, tag]) => <TagElement tag={tag} hideFromPrint={true} />)
      }
    </ul>
  </div>
</div>

<style>
  .company {
    display: none;
  }
  .skills-ul {
    display: flex;
    gap: var(--spacing);
    flex-wrap: wrap;
  }
  .skill-gap {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing));
  }
  .skill-tag-wrapper {
    display: flex;
    gap: calc(var(--spacing) * 1.5);
    flex-wrap: wrap;
  }
  .skill-header {
    font-weight: 600;
    font-size: var(--text-lg);
    line-height: 2;
  }
</style>
