---
import type { HTMLAttributes } from "astro/types";
import TagElement from "./TagElement.astro";
import { tags, type TagId } from "./Tags";

interface Props extends HTMLAttributes<"div"> {
  company: string;
  period: string;
  link?: string;
  title?: string;
  description?: string;
  responsibilities?: string[];
  workTags?: TagId[];
}

const {
  company,
  period,
  link,
  title,
  description,
  responsibilities,
  workTags,
  ...props
} = Astro.props;
---

<div
  class={`flex flex-col gap-2 break-inside-avoid ${props.class ?? ""}`}
  {...props}
>
  <div class="flex">
    <h3 class="flex-1">
      <a href={link} target="_blank">{company}</a>
      {title ? <span class="text-lg">| {title}</span> : null}
    </h3>
    <span class="m-auto">{period}</span>
  </div>
  {description ? <div>{description}</div> : null}
  {
    responsibilities ? (
      <ul class="list-inside list-disc">
        {responsibilities.map((responsibility) => (
          <li class="">{responsibility}</li>
        ))}
      </ul>
    ) : null
  }
  {
    workTags ? (
      <ul class="flex flex-wrap gap-1.5">
        {workTags.map((tag) => (
          <TagElement tag={tags[tag]} hideFromPrint={true} />
        ))}
      </ul>
    ) : null
  }
</div>
